:root {
    /* Primary */
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
p {
    margin: 0;
}

input,
button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: var(--red);
    background-image: url(../assets/images/bg-intro-mobile.png);
    background-position-x: center;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

@media screen and (min-width: 1024px) {
    body {
        background-image: url(../assets/images/bg-intro-desktop.png);
    }
}

.main {
    text-align: center;
    padding: 1.5rem;
    display: grid;
}

@media screen and (min-width: 1024px) {
    .main {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 64px;
    }
}

@media screen and (max-width: 320px) {
    .main {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.intro {
    max-width: 525px;
    padding-top: 67px;
    padding-bottom: 67px;

    &__heading {
        font-size: 28px;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        text-align: left;

        &__heading {
            font-size: 49px;
        }
    }
}

.singup {
    max-width: 525px;

    &__heading,
    &__form {
        border-radius: 10px;
        box-shadow: 0 8px 0 hsla(0, 0%, 0%, 0.2);
    }

    &__heading {
        background-color: var(--blue);
        font-size: 1rem;
        font-weight: var(--semi-bold);
        line-height: 1.8;
        padding: 1rem 4rem;
        margin-bottom: 1.5rem;

        &--light {
            font-weight: var(--regular);
        }
    }

    &__form {
        background-color: white;
        padding: 1.5rem;
    }
    &__field {
        margin-bottom: 1rem;
        position: relative;
    }

    &__input,
    &__button {
        width: 100%;
        font-weight: var(--medium);
        border-radius: 5px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__input {
        font-size: 15px;
        padding-left: 1rem;
        padding-right: 2.5rem;
        box-shadow: inset 0 0 0 1px #ddd;

        &::placeholder {
            color: var(--dark-blue);
            opacity: 1;
        }

        &:focus {
            box-shadow: inset 0 0 0 1px var(--grayish-blue);
        }

        &--invalid {
            background: url(../assets/icons/icon-error.svg) no-repeat calc(100% - 1rem);
            box-shadow: inset 0 0 0 2px var(--red);

            &:focus {
                box-shadow: inset 0 0 0 2px var(--red);
            }

            + .singup__message {
                display: block;
            }
        }
    }
    &__message {
        color: var(--red);
        font-style: italic;
        font-size: 0.8rem;
        text-align: right;
        margin-top: 10px;
        display: none;
    }
    &__button {
        background-color: var(--green);
        color: inherit;
        text-transform: uppercase;
        letter-spacing: .25px;
        line-height: 1.4;
        box-shadow: 0 -4px 0 hsl(154, 59%, 45%) inset;
        margin-bottom: .5rem;

        &:focus {
            background-color: hsl(154, 59%, 40%);
        }
    }
    &__notice {
        color: var(--grayish-blue);
        font-size: .7rem;
        line-height: 2;

        &-link {
            color: var(--red);
            text-decoration: none;
            font-weight: var(--bold);
            display: inline-block;
        }
    }
}

@media screen and (min-width: 768px) {
    .singup {

        &__form {
            padding: 2.5rem;
        }

        &__field {
            margin-bottom: 1.2rem;
        }

        &__input {
            padding-left: 1.5rem;
        }
    }
}

@media screen and (min-width: 1280px) {
    .singup {

        &__button:hover {
            cursor: pointer;
            background-color: hsl(154, 59%, 65%);
        }
    }
}